@{
    ViewData["Title"] = "Carreras Online";
}

<div class="container">
    <div class="d-flex justify-content-center">
        <h2 class="text-center">Conoce Nuestras Carreras Online</h2>
    </div>
    <div class="d-flex justify-content-around">
        <div>
            <h2 class="justify-content-center">Facultad de Negocios</h2>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action">
                    MBA - Maestria en
                    Direccion de Empresas
                </a>
                <a href="#" class="list-group-item list-group-item-action">Contador Publico</a>
                <a href="#" class="list-group-item list-group-item-action">
                    Licenciatura en
                    Administracion
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    Licenciatura en
                    Comercio Internacional
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    Licenciatura en Marketing
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    Licenciatura en
                    Recuersos Humanos
                </a>
            </div>
        </div>
        <div>
            <div>
                <h2 class="justify-content-center">Facultad de Derecho</h2>
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action">
                        Abogacia
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Diplomatura de
                        Postgrado en Derecho
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Diplomatura
                        de Posgrado en Derecho de
                        Familia
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Diplomatura de
                        Posgrado en Derecho Penal
                    </a>
                </div>
            </div>
        </div>
        <div>
            <div>
                <h2 class="d-flex justify-content-center">Facultad de Ingenieria</h2>
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action">
                        Analista Universitario
                        en Sistemas
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Ingenieria en
                        Inteligencia Artificial
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Licenciatura en
                        Ciberseguridad
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Licenciatura en Redes y Comunicacion de Datos
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Licenciatura en Tecnologia de la Informacion
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Maestria en Tecnologia de la Informacion
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Licenciatura en Tecnologia de la Informacion
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
